$brand-theme-color:#28b389; // 品牌主题颜色

$border-color:#e0e0e0; // 边框颜色
$border-color-light:#efefef; // 边框亮色

$text-font-color-1:#000; // 文字主色
$text-font-color-2:#676767; // 副标题颜色
$text-font-color-3:#a7a7a7; // 浅色
$text-font-color-4:#e4e4e4; // 更浅

$grey-color-digit1:#111;
$grey-color-digit2:#222;
$grey-color-digit3:#333;
$grey-color-digit4:#444;
$grey-color-digit5:#555;
$grey-color-digit6:#666;
$grey-color-digit7:#777;
$grey-color-digit8:#888;
$grey-color-digit9:#999;